<div class="good-beer">
    <img src="/images/beer.png" alt="">
</div>

<button class="check-beer">
    <a href="/beers">Check the Beers!</a>
</button>
<br>
<button class="check-random">
    <a href="/random-beer">Check a Random Beer!</a>
</button>



